.container{
  margin-top: 20px;
  width: 98%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
  
  .divCreate{
    display: flex;
    justify-content: center;
  }
  .catList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-items: center;
  }
  .divButtons{
    display: flex;
    justify-content: center;
    gap:10px;
  }
  
  .catDetails {
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .catActions {
    display: flex;
    justify-content: center;
  }
  
  .editLink {
    margin-right: 10px;
  }
  
  @media screen and (max-width: 1200px) {
    .catCard {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }
  
  @media screen and (max-width: 992px) {
    .catCard {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .catCard {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  
  @media screen and (max-width: 576px) {
    .catCard {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  